.root {
  background: #0e2a8b url(../../assets/bg.jpg) no-repeat;
  background-size: 100% auto;
  height: 100%;
  padding: fixpx(22) fixpx(40);
  box-sizing: border-box;
}

.fieldset {
  font-size: fixpx(30);
}

.label {
  color: #fff;
  padding: 0 0 fixpx(17);
}

.inputBox {
  padding: 0 0 fixpx(43);
}

.input {
  box-sizing: border-box;
  border: 0 solid #000;
  border-radius: fixpx(10);
  height: fixpx(80);
  width: 100%;
  line-height: fixpx(80);
  color: #000;
  outline: none;
  padding: 0 fixpx(32);
}

.inputStyle {
  box-sizing: border-box;
  border: 0 solid #000;
  border-radius: fixpx(10);
  width: 100%;
  background: #fff;
}

.innerInput {
  box-sizing: border-box;
  height: fixpx(80);
  width: fixpx(508);
  border-radius: fixpx(10);
  line-height: fixpx(80);
  border: 0 solid #000;
  color: #000;
  outline: none;
  padding: 0 fixpx(32);
}

.queryBtn {
  width: fixpx(146);
  height: fixpx(48);
  background: #0e2a8b;
  color: #fff;
  border: 0 solid #000;
  border-radius: fixpx(4);
  font-size: fixpx(26);
}

.info {
  color: #fde93b;
  padding: fixpx(18) 0 fixpx(11);
  font-size: fixpx(24);
}

.underline {
  text-decoration: underline;
}

.valicodeBox {
  padding: fixpx(25) 0 fixpx(29);
}

.confirmBtn {
  border: 0 solid #000;
  border-radius: fixpx(10);
  height: fixpx(80);
  width: 100%;
  line-height: fixpx(80);
  color: #000;
  font-size: fixpx(28);
  background: #fde93b;
}
