.root {
  background: #fff;
  height: 100%;
  padding: fixpx(159) fixpx(95);
  box-sizing: border-box;
}

.shopowner {
  background: url(../../assets/shopowner.png);
  background-size: 100% auto;
  display: block;
  width: fixpx(559);
  height:fixpx(229);
  margin: 0 0 fixpx(100);
}

.clerk {
  background: url(../../assets/clerk.png);
  background-size: 100% auto;
  display: block;
  width: fixpx(559);
  height:fixpx(229);
}